@import "tailwindcss";

@font-face {
  font-family: 'Blacker Pro Text';
  src: url('/fonts/BlackerProTx-Hv.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Títulos grandes */
.font-title {
  font-family: 'Blacker Pro Text', serif;
}

/* Menú / navegación */
.font-menu {
  font-family: 'Oswald', sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  hyphens: auto;
}