@import "tailwindcss";

@font-face {
  font-family: 'Blacker Pro Text';
  src: url('/fonts/BlackerProTx-Hv.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: 'Blacker Pro Text', serif;
}

html {
  scroll-behavior: smooth;
}
