<header class="w-full pt-6 flex justify-center">
  <nav
    class="flex gap-10 px-10 py-3 
           rounded-2xl
           border border-white/70
           bg-black/40 backdrop-blur
           font-menu text-sm uppercase tracking-wider font-[800]"
  >
    <!-- Activo -->
    <a
      href=""
      class="text-red-500 font-semibold transition-colors duration-200"
    >
      Inicio
    </a>

    <!-- Links normales -->
    <a
      href="#nosotros"
      class="text-white transition-colors duration-200 hover:text-gray-300"
    >
      Nosotros
    </a>

    <a
      href="#label"
      class="text-white transition-colors duration-200 hover:text-gray-300"
    >
      Fenix Eye Label
    </a>

    <a
      href="#tfk"
      class="text-white transition-colors duration-200 hover:text-gray-300"
    >
      TFK House
    </a>

    <a
      href="#productions"
      class="text-white transition-colors duration-200 hover:text-gray-300"
    >
      Fenix Eye Productions
    </a>

    <a
      href="#contacto"
      class="text-white transition-colors duration-200 hover:text-gray-300"
    >
      Contacto
    </a>
  </nav>
</header>
