<section
  id="nosotros"
  class="relative px-6 md:px-16"
>
  <div
    class="max-w-6xl mx-auto
           grid grid-cols-1 md:grid-cols-[1fr_auto_1fr]
           gap-16 items-center"
  >
    <!-- COLUMNA IZQUIERDA -->
    <div class="flex flex-col items-center text-center">
      <h2 class="text-4xl md:text-5xl font-extrabold uppercase mb-4">
        Nosotros
      </h2>

      <span class="text-lg text-gray-200 mb-6">Corazón y profesionalismo en cada producción.</span> 

      <p class="text-sm text-gray-200 leading-relaxed text-justify">

        Somos una empresa multidisciplinaria que integra música, cine y
        desarrollo artístico con un enfoque humano, profesional y estratégico.
        <br />
        <br />
        Nuestra misión es crear experiencias que conecten, inspiren y trasciendan.
        Porque creemos que cada voz merece ser escuchada, cada historia contada,
        y cada talento impulsado.
      </p>
    </div>

    <!-- SEPARADOR CENTRAL -->
    <div class="hidden md:flex justify-center">
      <img
        src="/Secciones/Main/SeparadorLineaRoja.png"
        alt="Separador"
        class="h-72 opacity-80"
      />
    </div>

    <!-- COLUMNA DERECHA -->
    <div class="flex flex-col items-center text-center">
      <h2 class="text-4xl md:text-5xl font-extrabold uppercase mb-4">
        Equipo <br /> Humano
      </h2>

      <p class="text-sm text-gray-200 leading-relaxed text-justify">
        Las grandes ideas nacen de la conexión humana y el trabajo en equipo.
        Por eso, cada proyecto que llega a nuestras manos se convierte en una
        misión personal: hacerlo crecer, brillar y trascender. Ponemos todo
        nuestro amor, experiencia y compromiso en cada producción.
        <br />
        <br />
        Aquí no solo trabajamos por un resultado perfecto, trabajamos por tu
        propósito, tu historia y tu éxito.
      </p>
    </div>
  </div>
</section>