<section class="w-full bg-black pt-24 pb-0 px-6
">
  <div class="mx-auto flex flex-col items-center text-center gap-8">

    <span id="label" class="pt-1"></span>

    <!-- Línea izquierda + logo + línea derecha -->
    <div class="w-full flex items-center gap-6">
      <div class="flex-1 h-px bg-red-600 opacity-60"></div>

      <!-- Logo -->
      <img 
        src="/Secciones/FenixEyeLabel/Logo.png"
        alt="Fénixx Eye Label"
        class="h-20 md:h-30 object-contain"
      />

      <div class="flex-1 h-px bg-red-600 opacity-60"></div>
    </div>

    <!-- Texto descriptivo -->
    <p class="max-w-3xl text-sm md:text-base text-gray-200 leading-[1.1] text-justify [text-align-last:center]">
      Te acompañamos a construir tu carrera artística. Trabajamos con cada talento
      individualmente, construyendo no solo canciones, sino trayectorias con identidad,
      visión y proyección internacional.
    </p>

  </div>
</section>
