<section class="relative h-[110vh] overflow-hidden bg-black">
  <!-- Imagen 1: top-left -->
<img
  src="/Secciones/Main/LumbreFondoParteIzquierda.jpeg"
  class="absolute top-10 right-230
         w-[50%] h-[70%]
         object-cover
         -translate-x-12 -translate-y-12"
/>

  <!-- Imagen 2: bottom-right -->
  <img
  src="/Secciones/Main/LumbreFondoParteDerecha.jpeg"
  class="absolute left-250 top-80 margin-bottom-20
         w-[50%] h-[70%]
         object-cover
         -translate-x-12 -translate-y-12"
  />

  <!-- Contenido -->
  <div class="relative z-10">
    <slot />
  </div>
</section>
